body {
  margin: 0;
  background-color: #141730;
  
}
nav{
  @media screen and (max-width: 767px){

  }
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -2rem;
}
nav li{
  display: inline-block;
  margin-right: 1rem;
}
nav li:last-child {
  margin-right: 0;
}
.nav-link{
  color: #d2d8d7;
  font-weight: bold;
  font-size: 0.9rem;
}
.navbar{
  margin-top: 2rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-item{
  justify-content: space-evenly;
}
#info{
  border: 1px solid;
  padding-top: 15rem;
  background-color:#212542;
  width: 100%;
  height: 20rem;
}
#bord1{
  border: dotted rgb(90, 30, 40) 0.3rem;
  width: 14rem;
  height: 12rem;
  border-top-right-radius: 2rem;
}
#bord2{
  border: solid rgb(90, 30, 60) 0.3rem;
  width: 14rem;
  height: 12rem;
  border-top-right-radius: 2rem;
}
#bord3{
  border: dotted rgb(90, 30, 60) 0.3rem;
  width: 14rem;
  height: 12rem;
  border-top-right-radius: 2rem;
}
#bord4{
  border: dotted rgb(90, 30, 60) 0.3rem;
  width: 14rem;
  height: 12rem;
  border-top-right-radius: 2rem;
}
#values{
  margin-bottom: 20rem;
}
#port{
  color: white;
  font-size: 3rem;
  font-family: serif;
}
#exp{
  border: 1px solid;
  padding-top: 15rem;
  background-color:#202649;
  width: 100%;
  height: 32rem;
}
#foot{
  border: 1px solid;
  padding-top: 15rem;
  background-color:#202649;
  width: 100%;
  height: 28rem;
}
.circle {
  border: 2px dotted gray;
  border-radius: 50%;
  width: 310px;
  height: 310px;
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0,-70%);
  margin: auto;
}
.line{
  border: 0.1rem solid gray;
  width: 100%;
  margin-top: -12rem;
}
